name: "checks"

on:
  push:
    branches:
      - main
  pull_request:

env:
  GO_VERSION: "1.23"

jobs:
  # shellcheck should be a dependency for jobs that run any scripts, 
  # as wrong shell scripts can be harmful.
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          severity: warning

  go-lint:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          args: --verbose  --timeout=3m
          version: v1.60.1

  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Check go mod tidy
        run: |
          go mod tidy
          make assert-no-changed-files

  test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run Tests
        run: go test -coverprofile coverage.out ./...
      - name: Save Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.out
  comment-coverage:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      pull-requests: write
    steps:
      - name: Download Coverage Report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
      - name: Generate Coverage Summary
        run: go run ci/cmd/coverage/main.go -f coverage.out > comment.txt
      - name: Comment Coverage Summary
        # This will update the comment in place on successive runs
        uses: mshick/add-pr-comment@v2
        with:
          message-path: comment.txt   
  acceptance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build Local Images
        run: |
          make build-local
      - name: Run Acceptance Tests
        run: |
          make acceptance-tests
